# Gitkeep
!.gitkeep

# Nodejs files
node_modules
package-lock.json

# Config files
config

# Database files
*.db

# QQ files
data/oicq

# Setu Img files
/data/images/setu/r17/*
/data/images/setu/r18/*